*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #111;
}
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}
img, video, audio {max-width: 100%; max-height: 100%; border: 0;}
br {font-size: 0;}
html, body{
    font-family: "Noto Sans KR", sans-serif;
    color: #111;
}
.skip, legend, caption {overflow: hidden; position: absolute; width: 1px; height: 1px; padding: 0; border: 0; clip: rect(1px, 1px, 1px, 1px);}
button {cursor: pointer; background-color: transparent;}
button img {width: auto;}
.hidden{display:block; height: 0; width: 0; font-size: 0; line-height: 0; margin: 0; padding: 0; overflow:hidden;}
/* IE 에서 Select box 화살표 제거 */
select::-ms-expand {display: none;}
select option[value=""][disabled] {display: none;}
select, input, textarea {font-family: 'Noto Sans KR', sans-serif;}
/* mian color */
.color-gray {color: #666;}
.color-navy {color: #30428B;}
.color-black {color: #000;}
.color-green{color: #00AB30;}
.color-red{color: #EB1515;}
/* font style */
.medium {font-weight: 500;}
.bold {font-weight: 600;}
/* 상단 헤더 */


/* 문단 스타일 */
.m_0{margin:0 !important;}
.m_5{margin:5px !important;}
.m_10{margin:10px !important;}
.m_15{margin:15px !important;}
.m_20{margin:20px !important;}
.m_25{margin:25px !important;}
.m_30{margin:30px !important;}
.m_35{margin:35px !important;}
.m_40{margin:40px !important;}
.m_45{margin:45px !important;}
.m_50{margin:50px !important;}
.mt_0{margin-top:0 !important;}
.mt_5{margin-top:5px !important;}
.mt_10{margin-top:10px !important;}
.mt_15{margin-top:15px !important;}
.mt_20{margin-top:20px !important;}
.mt_25{margin-top:25px !important;}
.mt_30{margin-top:30px !important;}
.mt_35{margin-top:35px !important;}
.mt_40{margin-top:40px !important;}
.mt_45{margin-top:45px !important;}
.mt_50{margin-top:50px !important;}
.mt_60{margin-top:60px !important;}
.mt_65{margin-top:65px !important;}
.mt_90{margin-top:90px !important;}
.ml_0{margin-left:0 !important;}
.ml_5{margin-left:5px !important;}
.ml_10{margin-left:10px !important;}
.ml_15{margin-left:15px !important;}
.ml_20{margin-left:20px !important;}
.ml_25{margin-left:25px !important;}
.ml_30{margin-left:30px !important;}
.ml_35{margin-left:35px !important;}
.ml_40{margin-left:40px !important;}
.ml_45{margin-left:45px !important;}
.ml_50{margin-left:50px !important;}
.mr_0{margin-right:0 !important;}
.mr_5{margin-right:5px !important;}
.mr_10{margin-right:10px !important;}
.mr_15{margin-right:15px !important;}
.mr_20{margin-right:20px !important;}
.mr_25{margin-right:25px !important;}
.mr_30{margin-right:30px !important;}
.mr_35{margin-right:35px !important;}
.mr_40{margin-right:40px !important;}
.mr_45{margin-right:45px !important;}
.mr_50{margin-right:50px !important;}
.mb_0{margin-bottom:0 !important;}
.mb_5{margin-bottom:5px !important;}
.mb_10{margin-bottom:10px !important;}
.mb_15{margin-bottom:15px !important;}
.mb_20{margin-bottom:20px !important;}
.mb_25{margin-bottom:25px !important;}
.mb_30{margin-bottom:30px !important;}
.mb_35{margin-bottom:35px !important;}
.mb_40{margin-bottom:40px !important;}
.mb_45{margin-bottom:45px !important;}
.mb_50{margin-bottom:50px !important;}
.mb_90{margin-bottom: 90px !important;}
