@media screen and (min-width: 1366px) and (max-width: 1599px) {
	.tx_bx h2 span:last-child {
		font-size: 80px;
	}
	.tx_bx h2{
		font-size: 60px;
	}
	.tx_bx p{
		font-size: 30px;
		margin-top: 3%;
	}
	#cont3 > .container > .tab {
		width: 75%;
	}
	#cont3 > .container > .view > li:first-child > .view_img, #cont3 > .container > .view > li:nth-child(2) > .view_img {
		background-size: 700px auto;
		right: -5%;
	}
	#cont3 > .container > .view > li:nth-child(4) > .view_img {
		background-size: 450px auto;
		right: -25%;
	}
	#cont3 > .container > .view > li:nth-child(3) > .view_img, #cont3 > .container > .view > li:nth-child(5) > .view_img,#cont3 > .container > .view > li:nth-child(6) > .view_img {
		background-size: 400px auto;
		right: -25%;
	}
	#cont3 > .container > .view > li > a {
		margin-top: 80px;
	}
	.cont1{
		width: 55%;
	}
	.wrap-about{
		top: 30%;
		left: 55%;
	}
	.cont2{
		height: 600px;
	}
	.cont3{
		width: 70%;
		height: 800px;
	}

	.icon{
		width: 55%;
	}
	.copyright{
		width: 32%;
	}
	.copyright p{
		font-size: 17px;
	}
	.outer-menu .hamburger{
		width: 40px;
		height: 40px;
	}
}
@media screen and (min-width: 1280px) and (max-width: 1365px) {
	#nav_wrap img{
		height: 60px;
	}
	.solid_box {
		left: 60%;
	}

	.tx_bx h2 span:last-child {
		font-size: 80px;
	}
	.tx_bx h2{
		font-size: 60px;
	}
	.tx_bx p{
		font-size: 28px;
		margin-top: 3%;
	}
	.wrap-about{
		left: 55%;
		top: 28%;
	}
	.cont2{
		height: 530px;
	}
	.cont2 h2{
		font-size: 35px;
	}
	.cont2 p{
		font-size: 18px;
	}
	.bg{
		width: 35%;
	}

	.cont3{
		width: 80%;
		height: 850px;
	}

	#cont3 > .container > .tab {
		width: 65%;
	}
	#cont3 > .container > .view > li > h3 {
		font-size: 30px;
	}
	#cont3 > .container > .view > li > p {
		font-size: 16px;
	}
	#cont3 > .container > .view > li:first-child > .view_img, #cont3 > .container > .view > li:nth-child(2) > .view_img {
		background-size: 700px auto;
		right: 0;
	}
	#cont3 > .container > .view > li:nth-child(4) > .view_img {
		background-size: 450px auto;
		right: -20%;

	}
	#cont3 > .container > .view > li:nth-child(3) > .view_img, #cont3 > .container > .view > li:nth-child(5) > .view_img,#cont3 > .container > .view > li:nth-child(6) > .view_img {
		background-size: 400px auto;
		right: -20%;

	}
	#ft{
		height: 250px;
	}
	.ft_wrap{
		height: 170px;
	}
	.text-head{
		font-size: 35px;
	}
	.ftim img{
		height: 70px;
	}
	.icon{
		width: 45%;
	}
	.icon img{
		height: 20px;
	}
	.copyright{
		width: 35%;
	}
	.copyright p{
		font-size: 17px;
	}
	.outer-menu{
		top: 20%;
		right: 6%;
	}
	.outer-menu .hamburger{
		width: 40px;
		height: 30px;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
	#nav_wrap img{
		height: 60px;
	}
	.solid_box {
		left: 60%;
	}
	.tx_bx h2 span:first-child {
		font-size: 70px;
	}
	.tx_bx h2 span:last-child {
		font-size: 57px;
	}
	.tx_bx h2{
		padding-top: 13%;
		font-size: 50px;
	}

	.tx_bx p{
		margin-top: 4%;
		font-size: 25px;
	}
	.cont1{
		width: 70%;
	}
	.cont1 img {
		margin-left: 5%;
	}
	.wrap-about{
		left: 45%;
		top: 20%;
	}
	.cont2{
		height: 510px;
	}
	.cont2 h2{
		font-size: 30px;
	}
	.cont2 p{
		font-size: 16px;
	}
	.bg{
		width: 35%;
	}
	.cont3{
		width: 90%;
		height: 770px;
	}

	#cont3 > h2 {
		font-size: 30px;
	}
	#cont3 > .container > .tab {
		width: 75%;
		height: 60px;
	}
	#cont3 > .container > .view > li > h3 {
		font-size: 25px;
	}
	#cont3 > .container > .view > li > p {
		font-size: 16px;
	}
	#cont3 > .container > .view > li > a {
		margin-top: 50px;
	}
	#cont3 > .container > .view > li:first-child > .view_img, #cont3 > .container > .view > li:nth-child(2) > .view_img {
		background-size: 550px auto;
		right: -0;
	}

	#cont3 > .container > .view > li:nth-child(4) > .view_img {
		background-size: 400px auto;
		right: -20%;

	}
	#cont3 > .container > .view > li:nth-child(3) > .view_img, #cont3 > .container > .view > li:nth-child(5) > .view_img,#cont3 > .container > .view > li:nth-child(6) > .view_img {
		background-size: 300px auto;
		right: -20%;

	}
	#cont3 > .container > .view > li {
		padding: 50px 80px;
	}
	#ft{
		height: 250px;
	}
	.ft_wrap{
		height: 170px;
	}
	.text-head{
		font-size: 35px;
	}
	.ftim img{
		height: 70px;
	}
	.icon{
		width: 55%;
	}
	.icon img{
		height: 20px;
	}
	.copyright{
		width: 45%;
	}
	.copyright p{
		font-size: 17px;
	}
	.outer-menu{
		top: 20%;
		right: 6%;
	}
	.outer-menu .hamburger{
		width: 35px;
		height: 28px;
	}
}
@media screen and (min-width: 960px) and (max-width: 1023px) {
	#nav_wrap img{
		height: 60px;
	}
	.solid_box {
		left: 60%;
	}
	.tx_bx h2 span:first-child {
		font-size: 70px;
	}
	.tx_bx h2 span:last-child {
		font-size: 57px;
	}
	.tx_bx h2{
		padding-top: 10%;
		font-size: 50px;
	}
	.tx_bx p{
		margin-top: 4%;
		font-size: 25px;
	}
	.cont1{
		width: 70%;
	}
	.wrap-about{
		left: 55%;
		top: 26%;
	}
	.wrap-about .w-content p{
		font-size: 15px;
		font-weight: 300;
	}
	.wrap-about .w-content p.title {
		width: 80px;
	}
	.cont2{
		height: 480px;
	}
	.cont2 h2{
		font-size: 30px;
	}
	.cont2 p{
		font-size: 16px;
	}

	.bg{
		width: 35%;
	}
	.cont3{
		width: 95%;
		height: 770px;
	}

	#cont3 > h2 {
		font-size: 30px;
	}
	#cont3 > .container > .tab {
		width: 75%;
		height: 60px;
		margin: 0 auto 0;
	}
	#cont3 > .container > .view > li {
		padding: 60px 80px;
	}
	#cont3 > .container > .view > li > h3 {
		font-size: 25px;
	}
	#cont3 > .container > .view > li > p {
		font-size: 16px;
		width: 40%;
	}
	#cont3 > .container > .view > li > a {
		margin-top: 50px;
	}
	#cont3 > .container > .view > li:first-child > .view_img, #cont3 > .container > .view > li:nth-child(2) > .view_img {
		background-size: 550px auto;
		right: 0;

	}

	#cont3 > .container > .view > li:nth-child(4) > .view_img {
		background-size: 400px auto;
		right: -15%;

	}
	#cont3 > .container > .view > li:nth-child(3) > .view_img, #cont3 > .container > .view > li:nth-child(5) > .view_img,#cont3 > .container > .view > li:nth-child(6) > .view_img {
		background-size: 300px auto;
		right: -15%;

	}
	.text-head{
		font-size: 30px;
	}
	#ft{
		height: 250px;
	}
	.ft_wrap{
		height: 170px;
	}
	.text-head{
		font-size: 35px;
	}
	.ftim img{
		height: 70px;
	}
	.ft_wrap li{
		margin-left: 12%;
	}
	.icon{
		width:60%;
	}
	.icon img{
		height: 20px;
	}
	.copyright{
		width: 45%;
	}
	.copyright p{
		font-size: 17px;
	}
	.outer-menu{
		top: 22%;
		right: 7%;
	}
	.outer-menu .hamburger{
		width: 35px;
		height: 28px;
	}
}
@media screen and (min-width: 780px) and (max-width: 959px) {
	#nav_wrap img{
		height: 60px;
	}
	.toggle{
		width: 35px;
		height: 35px;
		top: 13%;
	}
	.solid_box {
		left: 55%;
	}
	.tx_bx h2 span:first-child {
		font-size: 70px;
	}
	.tx_bx h2 span:last-child {
		font-size: 57px;
	}
	.tx_bx h2{
		padding-top: 5%;
		font-size: 45px;
	}
	.tx_bx p{
		margin-top: 4%;
		font-size: 18px;
	}
	.cont1{
		width: 70%;
		padding: 15% 0;
	}
	.cont1 img {
		margin-left: 0;
	}
	.wrap-about{
		left: 40%;
		top: 25%;
	}
	.wrap-about .w-content p{
		font-size: 15px;
		font-weight: 300;
	}
	.wrap-about .w-content p.title {
		width: 80px;
	}
	.cont2{
		height: 480px;
	}
	.cont2 h2{
		font-size: 25px;
	}
	.cont2 p{
		font-size: 16px;
	}
	.bg{
		width: 35%;
	}
	.cont3{
		width: 95%;
		height: 700px;
	}
	#cont3 > h2 {
		font-size: 25px;
	}
	#cont3 > .container > .tab {
		width: 90%;
		height: 60px;
		margin: 0 auto 0;
	}
	#cont3 > .container > .view > li {
		padding: 40px;
	}
	#cont3 > .container > .view > li > h3 {
		font-size: 25px;
	}
	#cont3 > .container > .view > li > p {
		font-size: 16px;
		width: 30%;
	}
	#cont3 > .container > .view > li > a {
		margin-top: 50px;
	}
	#cont3 > .container > .view > li:first-child > .view_img, #cont3 > .container > .view > li:nth-child(2) > .view_img {
		background-size: 400px auto;
		right: 0;

	}

	#cont3 > .container > .view > li:nth-child(4) > .view_img {
		background-size: 350px auto;
		right: -5%;

	}
	#cont3 > .container > .view > li:nth-child(3) > .view_img, #cont3 > .container > .view > li:nth-child(5) > .view_img,#cont3 > .container > .view > li:nth-child(6) > .view_img {
		background-size: 300px auto;
		right: -5%;

	}
	#cont3 > .portfolio_bg > .portfolio_img {
		width: 700px;
		margin: -400px 0 0 -350px;
	}
	#cont3 > .portfolio_bg > .portfolio_img > .viewClose {
		min-height: 1800px;
	}
	.container h3{
		font-size: 25px;
	}
	.contact-section{
		width: 55%;
	}
	form input{
		font-size: 14px;
	}
	form textarea{
		height: 150px;
		font-size: 14px;
	}
	button.submit{
		font-size: 16px;
	}
	#ft{
		height: 210px;
	}
	.ft_wrap{
		height: 150px;
	}
	.ftim img{
		height: 60px;
	}
	.ft_wrap li{
		margin-left: 12%;
	}
	.icon{
		width: 65%;
	}
	.icon img{
		height: 20px;
	}
	.copyright{
		width: 50%;
	}
	.copyright p{
		font-size: 15px;
	}
	.outer-menu .menu > div > div > ul > li{
		font-size: 20px;
	}
	.outer-menu{
		top: 30%;
		right: 7%;
	}
	.outer-menu .hamburger{
		width: 30px;
		height: 10px;
	}
}
@media screen and (min-width: 667px) and (max-width: 779px) {
	#nav_wrap img{
		height: 50px;
	}
	.toggle{
		width: 30px;
		height: 30px;
		top: 10%;
	}

	.solid_box {
		left: 55%;
	}
	.tx_bx h2 span:first-child {
		font-size: 70px;
	}
	.tx_bx h2 span:last-child {
		font-size: 45px;
	}
	.tx_bx h2{
		padding-top: 0;
		font-size: 30px;
	}
	.tx_bx p{
		margin-top: 1%;
		font-size: 18px;
	}
	.cont1{
		width: 70%;
		padding: 15% 0;
	}
	.cont1 img {
		margin-left: 0;
	}
	.wrap-about{
		left: 40%;
		top: 25%;
	}
	.wrap-about .w-content p{
		font-size: 13px;
		font-weight: 300;
	}
	.wrap-about .w-content div{
		height: 25px;
	}
	.cont2{
		height: 400px;
	}
	.cont2 h2{
		font-size: 25px;
	}
	.cont2 p{
		font-size: 14px;
	}
	.bg{
		width: 55%;
		height: 400px;
	}
	.g_color{
		height: 10px;
	}
	.graph_out{
		height: 10px;
		margin-bottom: 20px;
	}
	.graph_out .per{
		font-size: 13px;
	}
	.cont3 {
		width: 95%;
		height: 600px;
	}
	#cont3 > h2 {
		font-size: 25px;
	}
	#cont3 > .container > .tab {
		width: 90%;
		height: 60px;
		margin: 0 auto 0;
	}
	#cont3 > .container > .tab > li {
		font-size: 16px;
	}
	#cont3 > .container > .view > li {
		padding: 40px;
	}
	#cont3 > .container > .view > li > h3 {
		font-size: 23px;
	}
	#cont3 > .container > .view > li > p {
		font-size: 14px;
		width: 30%;
	}
	#cont3 > .container > .view > li > a {
		margin-top: 50px;
		font-size: 14px;
	}
	#cont3 > .container > .view > li:first-child > .view_img, #cont3 > .container > .view > li:nth-child(2) > .view_img {
		background-size: 350px auto;
		right: 0;

	}

	#cont3 > .container > .view > li:nth-child(4) > .view_img {
		background-size: 250px auto;
		right: -5%;

	}
	#cont3 > .container > .view > li:nth-child(3) > .view_img, #cont3 > .container > .view > li:nth-child(5) > .view_img,#cont3 > .container > .view > li:nth-child(6) > .view_img {
		background-size: 220px auto;
		right: -5%;

	}
	#cont3 > .portfolio_bg > .portfolio_img {
		width: 600px;
		margin: -400px 0 0 -300px;
	}
	#cont3 > .portfolio_bg > .portfolio_img > .viewClose {
		min-height: 1500px;
	}
	.contact{
		padding: 50px 0;
	}
	.container h3{
		font-size: 25px;
	}
	.contact-section{
		width: 70%;
	}
	form input{
		font-size: 12px;
		height: 5px;
	}
	form textarea{
		height: 130px;
		font-size: 14px;
	}
	button.submit{
		width: 90%;
		padding: 10px 0;
		font-size: 16px;
	}
	#ft{
		height: 190px;
	}
	.ft_wrap{
		height: 130px;
	}
	.ftim img{
		height: 60px;
	}
	.ft_wrap li{
		margin-left: 15%;
	}
	.icon{
		width: 100%;
	}
	.icon img{
		height: 20px;
	}
	.copyright{
		width: 50%;
	}
	.copyright p{
		font-size: 13px;
	}
	.outer-menu .menu > div > div > ul > li{
		font-size: 20px;
	}
	.outer-menu{
		top: 30%;
		right: 7%;
	}
	.outer-menu .hamburger{
		width: 30px;
		height: 10px;
	}
}
@media screen and (min-width: 640px) and (max-width: 666px) {
	#nav_wrap img{
		height: 50px;
	}
	.toggle{
		width: 30px;
		height: 30px;
		top: 15%;
	}

	.solid_box {
		left: 55%;
	}
	.tx_bx h2 span:first-child {
		font-size: 70px;
	}
	.tx_bx h2 span:last-child {
		font-size: 45px;
	}
	.tx_bx h2{
		padding-top: 0;
		font-size: 30px;
	}
	.tx_bx p{
		margin-top: 2%;
		font-size: 17px;
	}
	.cont1{
		width: 70%;
		padding: 15% 0;
	}
	.cont1 img {
		margin-left: 0;
	}
	.wrap-about{
		left: 40%;
		top: 25%;
	}
	.wrap-about .w-content p{
		font-size: 13px;
		font-weight: 300;
	}
	.wrap-about .w-content div{
		height: 25px;
	}
	.wrap-about .w-content a {
		margin-top: 10px;
	}
	.cont2{
		height: 400px;
	}
	.cont2 h2{
		font-size: 25px;
	}
	.cont2 p{
		font-size: 14px;
	}
	.bg{
		width: 55%;
		height: 400px;
	}
	.g_color{
		height: 10px;
	}
	.graph_out{
		height: 10px;
		margin-bottom: 20px;
	}
	.graph_out .per{
		font-size: 13px;
	}
	.cont3{
		width: 95%;
		height: 600px;

	}

	#cont3 > h2 {
		font-size: 25px;
	}
	#cont3 > .container > .tab {
		width: 95%;
		height: 60px;
		margin: 0 auto 0;
	}
	#cont3 > .container > .tab > li {
		font-size: 16px;
	}
	#cont3 > .container > .view > li {
		padding: 40px;
	}
	#cont3 > .container > .view > li > h3 {
		font-size: 23px;
	}
	#cont3 > .container > .view > li > p {
		font-size: 14px;
		width: 30%;
	}
	#cont3 > .container > .view > li > a {
		margin-top: 50px;
		font-size: 14px;
	}
	#cont3 > .container > .view > li:first-child > .view_img, #cont3 > .container > .view > li:nth-child(2) > .view_img {
		background-size: 350px auto;
		right: 5%;

	}

	#cont3 > .container > .view > li:nth-child(4) > .view_img {
		background-size: 250px auto;
		right: -3%;

	}
	#cont3 > .container > .view > li:nth-child(3) > .view_img, #cont3 > .container > .view > li:nth-child(5) > .view_img,#cont3 > .container > .view > li:nth-child(6) > .view_img {
		background-size: 220px auto;
		right: -3%;

	}
	#cont3 > .portfolio_bg > .portfolio_img {
		width: 600px;
		margin: -400px 0 0 -300px;
	}
	#cont3 > .portfolio_bg > .portfolio_img > .viewClose {
		min-height: 1500px;
	}

	.contact{
		padding: 50px 0;
	}
	.container h3{
		font-size: 25px;
	}
	.contact-section{
		width: 70%;
	}
	form input{
		font-size: 12px;
		height: 5px;
	}
	form textarea{
		height: 130px;
		font-size: 14px;
	}
	button.submit{
		width: 90%;
		padding: 10px 0;
		font-size: 16px;
	}
	#ft{
		height: 190px;
	}
	.ft_wrap{
		height: 130px;
	}
	.ftim img{
		height: 60px;
	}
	.ft_wrap li{
		margin-left: 15%;
	}
	.icon{
		width: 100%;
	}
	.icon img{
		height: 20px;
	}
	.copyright{
		width: 50%;
	}
	.copyright p{
		font-size: 13px;
	}
	.outer-menu .menu > div > div > ul > li{
		font-size: 20px;
	}
	.outer-menu{
		top: 30%;
		right: 7%;
	}
	.outer-menu .hamburger{
		width: 30px;
		height: 10px;
	}
}
@media screen and (min-width: 480px) and (max-width: 639px) {
	#nav_wrap img{
		height: 40px;
	}
	.toggle{
		width: 30px;
		height: 30px;
		top: 8%;
	}
	.solid_box {
		left: 55%;
	}
	.tx_bx h2 span:first-child {
		font-size: 50px;
	}
	.tx_bx h2 span:last-child {
		font-size: 30px;
	}
	.tx_bx h2{
		padding-top: 0;
		font-size: 20px;
	}
	.tx_bx p{
		margin-top: 1%;
		font-size: 12px;
	}
	.cont1{
		width: 70%;
		padding: 15% 0;
	}
	.cont1 img{
		width: 30%;
		margin-left: 0;
	}

	.wrap-about{
		left: 40%;
		top: 25%;
	}
	.wrap-about .w-content p{
		font-size: 14px;
		font-weight: 300;
	}
	.wrap-about .w-content div{
		height: 20px;
	}
	.wrap-about .w-content p.title {
		width: 60px;
	}
	#cont3 > .container > .view > li > a, .wrap-about .w-content a {
		font-size: 14px;
	}
	.cont2{
		height: 335px;
	}
	.cont2 h2{
		font-size: 20px;
	}
	.cont2 p{
		font-size: 12px;
	}
	.bg{
		width: 60%;
		height: 400px;
	}
	.g_color{
		height: 10px;
	}
	.graph_out{
		height: 10px;
		margin-bottom: 20px;
	}
	.graph_out .per{
		font-size: 12px;
	}
	.cont3{
		width: 100%;
		height: 600px;
	}
	#cont3 > h2 {
		font-size: 20px;
	}
	#cont3 > .container > .tab {
		width: 95%;
		height: 60px;
		margin: 0 auto 0;
	}
	#cont3 > .container > .tab > li {
		font-size: 14px;
		margin-left: 5px;
	}

	#cont3 > .container > .view > li {
		padding: 40px;
	}
	#cont3 > .container > .view > li > h3, #cont3 > .container > .view > li > h3 > span {
		font-size: 12px;
	}
	#cont3 > .container > .view > li > p {
		font-size: 1px;
		width: 10%;
	}
	#cont3 > .container > .view > li > a {
		margin-top: 50px;
		font-size: 12px;
		padding: 0 5px;
	}
	#cont3 > .container > .tab > li:after {
		margin: -30px 0 0 -5px;
	}
	#cont3 > .container > .view > li:first-child > .view_img, #cont3 > .container > .view > li:nth-child(2) > .view_img {
		background-size: 350px auto;
		right: 15%;
		top: 10%;
	}

	#cont3 > .container > .view > li:nth-child(4) > .view_img {
		background-size: 250px auto;
		right: 10%;

	}
	#cont3 > .container > .view > li:nth-child(3) > .view_img, #cont3 > .container > .view > li:nth-child(5) > .view_img,#cont3 > .container > .view > li:nth-child(6) > .view_img {
		background-size: 220px auto;
		right: 10%;

	}
	#cont3 > .portfolio_bg > .portfolio_img {
		width: 400px;
		margin: -400px 0 0 -200px;
	}
	#cont3 > .portfolio_bg > .portfolio_img > .viewClose {
		min-height: 1000px;
	}
	#contact{
		display: none;
	}
	#ft{
		height: 160px;
	}
	.ft_wrap{
		height: 100px;
	}
	.ftim img{
		height: 50px;
	}
	.ft_wrap li{
		margin-left: 15%;
	}
	.icon{
		width: 100%;
	}
	.icon img{
		height: 15px;
	}
	.copyright{
		width: 60%;
	}
	.copyright p{
		font-size: 13px;
	}
	.outer-menu .menu > div > div > ul > li{
		font-size: 20px;
	}
	.outer-menu{
		top: 28%;
		right: 9%;
	}
	.outer-menu .hamburger{
		width: 25px;
		height: 0;
	}
}
@media screen and (max-width: 479px) {
	#nav_wrap img{
		height: 45px;
	}
	.toggle{
		width: 35px;
		height: 35px;
		top: 5%;
	}
	.solid_box {
		left: 55%;
	}
	.tx_bx h2 span:first-child {
		font-size: 50px;
	}
	.tx_bx h2 span:last-child {
		font-size: 30px;
	}
	.tx_bx h2{
		padding-top: 0;
		font-size: 20px;
	}
	.tx_bx p{
		margin-top: 0;
		font-size: 13px;
	}
	.cont1{
		width: 70%;
		padding: 15% 0;
	}
	.cont1 img{
		width: 30%;
		margin-left: 0;
	}
	.wrap-about{
		left: 40%;
		top: 25%;
	}
	.wrap-about .w-content p{
		font-size: 14px;
		font-weight: 300;
	}
	.wrap-about .w-content div{
		height: 20px;
	}
	.wrap-about .w-content p.title {
		width: 60px;
	}
	#cont3 > .container > .view > li > a, .wrap-about .w-content a {
		font-size: 14px;
	}
	.cont2{
		height: 335px;
	}
	.cont2 h2{
		font-size: 20px;
	}
	.cont2 p{
		font-size: 12px;
	}
	.bg{
		width: 60%;
		height: 400px;
	}
	.g_color{
		height: 10px;
	}
	.graph_out{
		height: 10px;
		margin-bottom: 20px;
	}
	.graph_out .per{
		font-size: 12px;
	}
	.cont3{
		width: 100%;
		height: 600px;
	}
	#cont3 > h2 {
		font-size: 20px;
	}
	#cont3 > .container > .tab {
		width: 95%;
		height: 60px;
		margin: 0 auto 0;
	}
	#cont3 > .container > .tab > li {
		font-size: 14px;
		margin-left: 5px;
	}
	#cont3 > .container > .view > li {
		padding: 40px;
	}
	#cont3 > .container > .view > li > h3, #cont3 > .container > .view > li > h3 > span {
		font-size: 12px;
	}
	#cont3 > .container > .view > li > p {
		font-size: 1px;
		width: 10%;
	}
	#cont3 > .container > .view > li > a {
		margin-top: 50px;
		font-size: 12px;
		padding: 0 5px;
	}
	#cont3 > .container > .tab > li:after {
		margin: -30px 0 0 -5px;
	}
	#cont3 > .container > .view > li:first-child > .view_img, #cont3 > .container > .view > li:nth-child(2) > .view_img {
		background-size: 350px auto;
		right: 15%;
		top: 10%;
	}

	#cont3 > .container > .view > li:nth-child(4) > .view_img {
		background-size: 250px auto;
		right: 10%;

	}
	#cont3 > .container > .view > li:nth-child(3) > .view_img, #cont3 > .container > .view > li:nth-child(5) > .view_img,#cont3 > .container > .view > li:nth-child(6) > .view_img {
		background-size: 220px auto;
		right: 10%;

	}
	#cont3 > .portfolio_bg > .portfolio_img {
		width: 400px;
		margin: -400px 0 0 -200px;
	}

	#cont3 > .portfolio_bg > .portfolio_img > .viewClose {
		min-height: 1000px;
	}
	.contact{
		display: none;
	}
	#ft{
		height: 160px;
	}
	.ft_wrap{
		height: 100px;
	}
	.ftim img{
		height: 50px;
	}
	.ft_wrap li{
		margin-left: 15%;
	}
	.icon{
		width: 100%;
	}
	.icon img{
		height: 15px;
	}
	.copyright{
		width: 60%;
	}
	.copyright p{
		font-size: 13px;
	}
	.outer-menu .menu > div > div > ul > li{
		font-size: 20px;
	}
	.outer-menu{
		top: 28%;
		right: 9%;
	}
	.outer-menu .hamburger{
		width: 25px;
		height: 0;
	}
}
@media screen and (min-width: 375px) and (max-width: 478px) {
	#nav_wrap img{
		height: 35px;
	}
	.toggle{
		width: 30px;
		height: 30px;
		top: 5%;
	}
	.solid_box {
		left: 55%;
	}
	.tx_bx h2 span:first-child {
		font-size: 40px;
	}
	.tx_bx h2 span:last-child {
		font-size: 25px;
	}
	.tx_bx h2{
		padding-top: 0;
		font-size: 15px;
		letter-spacing: 0.6rem;
	}
	.tx_bx p{
		margin-top: 0;
		font-size: 12px;
	}
	.cont1{
		width: 70%;
		padding: 15% 0;
	}
	.cont1 img{
		width: 30%;
		margin-left: 0;
	}
	.wrap-about{
		left: 35%;
		top: 25%;

	}
	#cont3 > .container > .view > li > a, .wrap-about .w-content a {
		height: 30px;
		line-height: 30px;
		font-size: 10px;
		width: 100px;
	}
	.wrap-about .w-content p{
		font-size: 12px;
		font-weight: 300;
	}
	.wrap-about .w-content p.title{
		padding-right: 0;
	}
	.wrap-about .w-content p.break{
		padding-right: 5px;
	}
	.wrap-about .w-content div{
		height: 15px;
	}
	.cont2{
		height: 260px;
	}
	.cont2 h2, #cont3 > h2{
		font-size: 15px;
	}
	.cont2 p{
		font-size: 10px;
	}
	.bg{
		width: 60%;
		height: 400px;
	}
	.g_color{
		height: 10px;
	}
	.graph_out{
		height: 10px;
		margin-bottom: 10px;
	}
	.graph_out .per{
		font-size: 10px;
	}
	.cont3{
		width: 100%;
		height: 500px;
	}
	#cont3 > .container > .tab {
		width: 95%;
		height: 60px;
		margin: 0 auto 0;
	}
	#cont3 > .container > .tab > li {
		font-size: 10px;
		margin-left: 0;
	}

	#cont3 > .container > .view > li {
		padding: 20px;
	}
	#cont3 > .container > .view > li > h3, #cont3 > .container > .view > li > h3 > span {
		font-size: 12px;
	}
	#cont3 > .container > .view > li > p {
		font-size: 1px;
		width: 10%;
	}
	#cont3 > .container > .view > li > a {
		margin-top: 50px;
		font-size: 12px;
		padding: 0 5px;
	}
	#cont3 > .container > .view > li > .view_img {
		height: 300px;
	}
	#cont3 > .container > .tab > li:after {
		margin: -30px 0 0 -3px;
	}
	#cont3 > .container > .view > li:first-child > .view_img, #cont3 > .container > .view > li:nth-child(2) > .view_img {
		background-size: 350px auto;
		right: 18%;
		top: 10%;
	}

	#cont3 > .container > .view > li:nth-child(4) > .view_img {
		background-size: 250px auto;
		right: 15%;

	}
	#cont3 > .container > .view > li:nth-child(3) > .view_img, #cont3 > .container > .view > li:nth-child(5) > .view_img,#cont3 > .container > .view > li:nth-child(6) > .view_img {
		background-size: 220px auto;
		right: 15%;

	}
	#cont3 > .portfolio_bg > .portfolio_img {
		width: 330px;
		margin: -400px 0 0 -165px;
	}
	#cont3 > .portfolio_bg > .portfolio_img > .viewClose {
		min-height: 800px;
	}
	.contact{
		display: none;
	}
	#ft{
		height: 140px;
	}
	.ft_wrap{
		height: 90px;
	}
	.ftim img{
		height: 40px;
	}
	.ft_wrap li{
		margin-left: 15%;
	}
	.icon{
		width: 100%;
	}
	.icon img{
		height: 12px;
	}
	.copyright{
		width: 65%;
	}
	.copyright p{
		font-size: 12px;
	}
	.outer-menu .menu > div > div > ul > li{
		font-size: 17px;
	}
	.outer-menu{
		top: 28%;
		right: 9%;
	}
	.outer-menu .hamburger{
		width: 25px;
		height: 0;
	}
}
